body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: #F7ECDE;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    line-height: 60px;
}

h2 {
    font-family: "Righteous", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
}
.bookmarkbody {
    border-top: 2px dotted black;
     border-bottom: 2px dotted black;
     margin-bottom: 20px;
}

.bookmark-link button{
    width: 100px;
}
